.container {
  width: 100%;
  height: 600px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 2em;
  border-radius: 10px;
  padding: 1em;
  overflow-y: scroll;
}

.heading {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.bold {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 800;
}

.redLine {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: red;
}

.underline {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: underline;
}

.code {
  background-color: rgba(99, 99, 99, 0.1);
  padding: 0.5em 1em;
  border-radius: 5px;
  margin: 0.5em 0;
}

.saveButton {
  padding: 1em 2em;
  background-color: #008cba;
  border: none;
  color: white;
  border-radius: 5px;
  margin-left: auto;
  display: block;
  transition: all 0.2s ease-in-out;
}

.saveButton:hover {
  opacity: 0.8;
}

.saveButton:active {
  background-color: #02a0d4;
}
