.title {
  font-size: 2rem;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: black;
}

@media (max-width: 750px) {
  .title {
    font-size: 1.5rem;
  }
}
